/*Restart*/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/*Variable in root*/
:root {
  --color-primary-dark: #0e5d80;
  --color-primary-medium: #5bb1cc;
  --color-primary-light: #53b9d9;
  --color-white: #ffff;
  --color-heading: #ffff;
  --color-background: linear-gradient(
    243.02deg,
    #10a9da -9.92%,
    #92e5ff 106.28%
  );
  --color-gray: #5b5b5b;
}
/*Body*/
html {
  font-size: 62.5%;
  background: var(--color-background);
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h1,
h2 {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 3.6rem;
  }
  h1 {
    font-size: 9rem;
    margin-bottom: 2.5rem;
  }
  h2 {
    font-size: 6.4rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 6.4rem;
  }
  h4 {
    font-size: 3.6rem;
  }
}
/*Button */
.btn {
  outline: 0;
  border: 0;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  text-align: center;
  white-space: nowrap;
  font-size: 1.8rem;
  cursor: pointer;
}
.btn--primary {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}

.btn--secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 3px solid #ffff;
}

.btn--block {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 3.2rem;
  }
  .btn--primary {
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  }
  .btn--secondary {
    box-shadow: 0px 22px 40px rgba(0, 0, 0, 0.1);
  }
}
/*Block*/
.block {
  padding: 1.5rem 2rem;
}
@media screen and (min-width: 1024px) {
  .block {
    padding: 3rem 5rem;
  }
}
/*Header-navbar*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.nav.nav__expanded .nav__list {
  max-height: 100vh;
  opacity: 1;
}
.nav__item > a {
  color: var(--color-white);
}
.nav__item {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}
.hidden-mobile {
  display: none;
}
.hidden-desk {
  display: block;
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__logo img {
  width: 70%;
}
.nav__item > a:hover {
  color: var(--color-primary);
}
.nav__item.calltoaction > a {
  color: #f5f5f5;
  font-size: 1.4rem;
}
.nav__mobile {
  display: flex;
  justify-content: space-between;
}
.nav__mobile .btn {
  margin-left: 10px;
}
/*Toggler*/
.nav__toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 8px;
  background-color: var(--color-white);
  padding: 0.9rem;
  cursor: pointer;
}
.bar {
  width: 2.4rem;
  border: 1px solid #292d32;
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
  }
  .hidden-desk {
    display: none;
  }
  .hidden-mobile {
    display: block;
  }
  .nav__list {
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-height: 100%;
    opacity: 1;
  }
  .nav__btn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .nav__btn .btn {
    margin-right: 4rem;
  }
  .nav__item {
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-top: 0%;
  }
  .nav__logo {
    width: 30rem;
  }
  .nav__toggler {
    display: none;
  }
}
/*Hero*/
.hero {
  display: grid;
}
.hero__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 6rem 2rem;
}
.hero__img-home {
  width: 27rem;
}
.hero__img-mobile {
  position: absolute;
  width: 13rem;
  left: 18rem;
  top: 2rem;
}
.hero__detail {
  color: var(--color-white);
}
.hero__detail .btn {
  margin-top: 1rem;
  background-color: var(--color-white);
  color: var(--color-primary-medium);
  width: 13.5rem;
}
@media screen and (min-width: 1024px) {
  .hero {
    grid-template-columns: repeat(3, 1fr);
  }
  .hero__detail {
    grid-column: 1 / span 2;
    order: 1;
  }
  .hero__images {
    order: 2;
  }
  .hero__img-home {
    width: 44rem;
  }
  .hero__img-mobile {
    width: 22rem;
    left: 2rem;
    top: -2rem;
  }
  .hero__detail .btn {
    margin-top: 6rem;
    color: var(--color-primary-light);
    width: 27.6rem;
  }
}
/*Category item Container*/
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 2rem;
  transition: all 0.4s ease-in-out;
}
.item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.4rem;
  height: 8.4rem;
  border-radius: 14px;
  background: linear-gradient(180deg, #fcfcfc 0%, #f1f1f1 100%);
  filter: drop-shadow(0px 15px 25px rgba(0, 0, 0, 0.1));
}
.item:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 1024px) {
  .item {
    font-size: 4rem;
    font-weight: 700;
  }
  .item__container {
    width: 15rem;
    height: 15rem;
    border-radius: 40px;
  }
  .item__container img {
    width: 6.5rem;
    height: auto;
  }
}
/*Categories*/
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*Detail section*/
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}
.detail__detail {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .detail {
    flex-direction: column-reverse;
  }
  .detail__image {
    width: 75rem;
    margin-top: 6rem;
  }
}
/*ّFeature*/
.feature-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  background-color: #f6f6f6;
}
.feature {
  display: flex;
  position: relative;
  height: 20rem;
}
.feature__detail {
  position: absolute;
  left: -0rem;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feature__detail .btn--primary {
  background-color: var(--color-primary-medium);
  padding: 0.4rem 1rem;
}
.feature__detail .btn--secondary {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  padding: 0.3rem 0.9rem;
}
.feature__detail h4 {
  color: var(--color-primary-dark);
}
.feature__detail p {
  color: var(--color-gray);
  margin-bottom: 1rem;
}
.feature__img.mobile img {
  margin-right: 1rem;
}
.feature__img {
  height: 18rem;
}
.feature__img img {
  height: 18rem;
  margin-right: -6rem;
}
@media screen and (min-width: 1024px) {
  .feature {
    height: 50rem;
  }
  .feature__img {
    height: 89rem;
  }
  .feature__img img {
    width: auto;
    height: 47rem;
  }
}
/*Ability*/
.abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.3rem;
  position: relative;
  margin-top: 3rem;
}
.ability {
  margin-bottom: 1.5rem;
}
.ability__detail {
  width: 16rem;
  color: #474747;
}
.abilities__header {
  display: none;
}
@media screen and (min-width: 1024px) {
  .abilities {
    padding: 4.5rem;
    height: 50rem;
    font-size: 2rem;
  }
  .ability-section {
    background: #7edcf9;
    position: relative;
  }
  .ability__img img {
    width: 24rem;
  }
  .ability__detail {
    width: 25rem;
  }
  .abilities__header {
    display: inline;
    width: 100%;
    color: var(--color-primary-dark);
  }
  .abilities__header h2 {
    margin-right: 8rem;
  }
}
