<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ability</title>
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="ability-section">
      <div class="abilities__header"><h2>قابلیت های ویژه بانواز</h2></div>
      <div class="abilities">
        <div class="ability">
          <div class="ability__img">
            <img src="/assets/images/cat.svg" alt="cat" />
          </div>
          <a href="#"
            ><p class="ability__detail">
              سنسورهایی که برای حیوان های خانگی شما نصب میشن میتونن با هوش
              مصنوعی گرسنه بودن اون رو تشخیص بدن!
            </p></a
          >
        </div>
        <div class="ability">
          <div class="ability__img">
            <img src="/assets/images/flower.svg" alt="cat" />
          </div>
          <a href="#">
            <p class="ability__detail">
              با محاسبه حرارت اطراف خاک گیاهان میشه فهمید کی باید دوباره به گیاه
              ها آب بدی!
            </p></a
          >
        </div>
        <div class="ability">
          <div class="ability__img">
            <img src="/assets/images/laptop.svg" alt="cat" />
          </div>
          <a href="#"
            ><p class="ability__detail">
              میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی
              برای روشن بودن اونها از بانواز کمک بگیری.
            </p></a
          >
        </div>
        <div class="ability">
          <div class="ability__img">
            <img src="/assets/images/door.svg" alt="cat" />
          </div>
          <a href="#"
            ><p class="ability__detail">
              باز و بسته شدن درب ها و پنجره ها، تشخیص حضور انسان و کلی قابلیت
              دیگه در سنسور های بانواز!
            </p></a
          >
        </div>
      </div>
    </section>
  </body>
</html>
