<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <section class="categories block">
      <div class="item">
        <div class="item__container">
          <img src="/assets/images/category/door.svg" alt="categry-image" />
        </div>
        <p>درب و پنجره</p>
      </div>
      <div class="item">
        <div class="item__container">
          <img src="/assets/images/category/flower.svg" alt="categry-image" />
        </div>
        <p>گل و گیاه</p>
      </div>
      <div class="item">
        <div class="item__container">
          <img src="/assets/images/category/plug.svg" alt="categry-image" />
        </div>
        <p>وسایل برقی</p>
      </div>
      <div class="item">
        <div class="item__container">
          <img src="/assets/images/category/lamp.svg" alt="categry-image" />
        </div>
        <p>روشنایی</p>
      </div>
      <div class="item">
        <div class="item__container">
          <img src="/assets/images/category/warm.svg" alt="categry-image" />
        </div>
        <p>گرمایی</p>
      </div>
      <div class="item">
        <div class="item__container">
          <img src="/assets/images/category/animal.svg" alt="categry-image" />
        </div>
        <p>حیوانات</p>
      </div>
    </section>
</body>
</html>