<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail</title>
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="detail block">
      <div>
        <img
          src="/assets/images/device.svg"
          alt="device"
          class="detail__image"
        />
      </div>
      <div class="detail__detail">
        <div><h2>مدیریت با دستگاه مرکزی</h2></div>
        <div>
          <p>
            بانواز برای مدیریت و کنترل سنسورهای خودش از یک دستگاه مرکزی استفاده
            میکنه که همه چیز تحت کنترل همین دستگاه مرکزیه. دستگاه به کمک اینترنت
            به گوشی شما متصل میشه و شما میتونین همه چیز رو تحت کنترل خودتون
            بگیرین.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
