<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>feature</title>
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <section class="feature-section">
      <div class="feature">
        <div class="feature__img">
          <img src="/assets/images/baby1.svg" alt="baby" />
        </div>
        <div class="feature__detail">
          <h4>دارای تنظیمات مخصوص کودک</h4>
          <p>نگران تغییر تنظیمات بانواز توسط فرزند عزیزت نباش!</p>
          <div>
            <a href="#" class="btn btn--primary btn--block">فروشگاه بانواز</a>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__img mobile">
          <img src="/assets/images/iphone1.svg" alt="baby" />
        </div>
        <div class="feature__detail">
          <h4>مدیریت خانه روی گوشی!</h4>
          <p>
            با دانلود اپلیکیشن بانواز میتونی تمامی سنسورها رو روی گوشیت مشاهده و
            کنترل کنی
          </p>
          <div>
            <a href="#" class="btn btn--secondary btn--block">فروشگاه بانواز</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
