<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>footer</title>
  </head>
  <body>
    <footer class="footer block">
      <div class="footer__home footer__style">
        <h5>بانواز</h5>
        <ul>
          <li><a href="#">خانه</a></li>
          <li><a href="#">فروشگاه</a></li>
          <li><a href="#">ورود به داشبورد</a></li>
        </ul>
      </div>
      <div class="footer__shop footer__style">
        <h5>فروشگاه</h5>
        <ul>
          <li><a href="#">دستگاه مرکزی</a></li>
          <li><a href="#">سنسورهای داخلی</a></li>
          <li><a href="#">سنسور های خارجی</a></li>
        </ul>
      </div>
      <div class="footer__contact footer__style">
        <h5>بانواز</h5>
        <ul>
          <li><a href="#"> درباره بانواز</a></li>
          <li><a href="#">وبلاگ</a></li>
          <li><a href="#">موقعیت های شغلی</a></li>
          <li><a href="#">تماس با ما</a></li>
        </ul>
      </div>
      <div class="footer__app footer__style">
        <h5>دانلود اپلیکیشن</h5>
        <div class="icon-app">
          <div>
            <a href="#"
              ><img src="/assets/images/app/google-play.svg" alt="googleplay"
            /></a>
          </div>
          <div>
            <a href="#"
              ><img src="/assets/images/app/app-store.svg" alt="app-store"
            /></a>
          </div>
        </div>
      </div>
      <div class="footer__social footer__style">
        <div class="social footer__style">
          <span class="icon"> <i class="fa-brands fa-youtube"></i></span>
          <span class="icon"> <i class="fa-brands fa-twitter"></i></span>
          <span class="icon"> <i class="fa-solid fa-basketball"></i></span>
          <span class="icon"> <i class="fa-brands fa-instagram"></i></span>
        </div>
        <div><p>تمامی حقوق متعلق به بانواز میباشد.</p></div>
      </div>
    </footer>
  </body>
</html>
