<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Friends</title>
  </head>
  <body>
    <section class="friends block">
      <div class="friends__detail">
        <h2>رفقای بانواز</h2>
        <p>ما افتخار همکاری با بیش از ده ها شرکت رو در بانواز داریم.</p>
      </div>
      <div class="friends__img">
        <img src="/assets/images/Logos.svg" alt="friends-logo" />
      </div>
    </section>
  </body>
</html>
