<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
 <header class="Header">
      <nav class="nav block">
        <a href="#" class="nav__logo"
          ><img src="/assets/images/Logo.svg" alt="logo"
        /></a>
        <div class="nav__mobile">
          <div class="btn btn--primary btn--block hidden-desk">
            فروشگاه بانواز
          </div>
        <div class="nav__toggler ">
          <div class="bar bar-one"></div>
          <div class="bar bar-two"></div>
          <div class="bar bar-three"></div>
        </div></div>
        
        <ul class="list nav__list">
          <li class="nav__item"><a href="#">خانه</a></li>
          <li class="nav__item"><a href="#">فروشگاه</a></li>
          <li class="nav__item"><a href="#">درباره ما</a></li>
        </ul>

        <div class="nav__btn">
          <div class="btn btn--primary btn--block hidden-mobile">
            ورود به داشبورد
          </div>
          <div class="btn btn--secondary btn--block hidden-mobile">
            دانلود اپلیکیشن
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
