<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Hero</title>
  </head>
  <body>
    <section>
      <div class="hero block">
        <div class="hero__images">
          <img
            src="/assets/images/Home.svg"
            alt="Homeimage"
            class="hero__img-home"
          />
          <img
            src="/assets/images/iPhone-12-Mini.svg"
            alt="mobile"
            class="hero__img-mobile"
          />
        </div>
        <div class="hero__detail">
          <h1>خیالت از خونه راحت!</h1>
          <p>
            بانواز واژه‌ای کردی به معنای باخبر ساختن با صدای بلند است. درست مثل
            بانواز!!
          </p>
          <p>با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی.</p>
          <p>چه خونه باشی چه نه.</p>
          <div class="btn btn--primary btn--block">فروشگاه بانواز</div>
        </div>
      </div>
    </section>
  </body>
</html>
